%h2
  Welcome
%p
  This is a simple Rails skeleton application implementing basic authentication using the Authlogic gem.
%ul
  %li
    Authlogic basic implementation (see <a href="http://github.com/binarylogic/authlogic_example">http://github.com/binarylogic/authlogic_example</a>)
  %li
    Aser activation (see <a href="http://github.com/matthooks/authlogic-activation-tutorial">http://github.com/matthooks/authlogic-activation-tutorial</a>)