<html>
<head>
  <title>Skeleton</title>
  <%= stylesheet_link_tag :all, :cache => true %>
</head>
<body>
  <%= render :partial => "shared/header" %>
  <%= yield %>
  <%= render :partial => "shared/footer" %>
</body>